{% extends  "master.html" %}

{% block title %}
	{% ifnotequal user.username request.session.username  %}
		<title>Tneatar | {{user.username}}</title>
	{% else %}
		<title>Tneatar | Dashboard</title>
	{% endifnotequal %}
{% endblock title %}

{% block script %}
	$('#dashboard-tab').addClass('active')
{% endblock script %}

{% block main_container %}

    <div class="row-fluid">
        <div class="well span3 text-center">
			{% block span3 %}
	            <h4>{{ user.username }}</h4>
				{% ifnotequal user.username request.session.username  %}
					{% ifequal follow_state 'follow'  %}
						<form action="{% url 'follow' %}" method="post">
					{% else %}
						{% ifequal follow_state 'follow'  %}
							<form action="{% url 'follow' %}" method="post">
						{% endifequal %}
					{% endifequal %}
							{% csrf_token %}
							<img src="" alt="" style="background-color: #{{user.color}}; "/>
							<input type="hidden" name="username" value="{{user.username}}">
							<input class='btn' type="submit" value="{{follow_state}}">
						</form>
				{% endifnotequal %}
				<hr/>
				<ul class='nav nav-list'>
					<li id="follow-tab"><a href="{% url 'index_follow' %}">Follows</a></li>
					<li id="message-tab"><a href="{% url 'index_messages' %}">Messages</a></li>
				</ul>
			{% endblock %}
    	</div>
    	<div class="well span9">
			{% block span10 %}
				{% ifnotequal user.username request.session.username  %}
					<h3>Send a direct message</h3>
					<form class="form form-inline" action="{% url 'send_message' %}" method="post">
						{% csrf_token %}
						<textarea name='direct_message' style="width:80%;" rows="2" maxlength="100" placeholder='Write your Tneata here.'></textarea>
						<input type="hidden" name="recipient_username" value="{{user.username}}">
						<button type='submit' class="btn btn-primary" href="">send</button>
					</form>
				{% else %}
		            <h3>Share a Tneata</h3>
					<form class="form form-inline" action="{% url 'tneat' %}" method="post">
						{% csrf_token %}
						<textarea name='tneata' style="width:80%;" rows="2" maxlength="100" placeholder='Write your Tneata here.'></textarea>
						<button type='submit' class="btn btn-primary" href="">Tneat</button>
					</form>
				{% endifnotequal %}
				<hr>

				{% for t in tneats %}
					<div class="tneata">
	                    <img src="" alt="" style="background-color: #{{t.tneata.user.color}}; "/>
	                    <a href="{% url 'profile' t.tneata.user.username %}"><span>{{t.tneata.user.username}}</span></a>
	                    <p>{{t.content|safe|urlize}}</p>
	                </div>
				{% endfor %}
			{% endblock %}
    	</div>

    </div>
{% endblock main_container %}
