<!DOCTYPE html>
<html>

  <head>
    {% block title %}
      <title>Tneatar | Home</title>
    {% endblock %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/main.css">
    <script src="{{STATIC_URL}}js/jquery-1.10.2.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <style type="text/css">
      {% block css %}

      {% endblock css %}
    </style>
    {% block header %}

    {% endblock header %}

    <script>
      $(document).ready(function () {
        $('#signin').popover();
        $('#signup').popover();

        {% block script %}
          $('#home-tab').addClass('active')
        {% endblock script %}

      });
    </script>

  </head>

  <body>
    <div class="container-narrow">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li id="home-tab"><a href="{% url 'home' %}">Home</a></li>
          {% if request.session.username %}
            <li id="dashboard-tab"><a href="{% url 'dashboard' %}">Dashboard</a></li>
          {% endif %}
          <li id="about-tab"><a href="{% url 'about' %}">About</a></li>
        </ul>
        <a href="{% url 'home' %}"><h3 class="muted">Tneatar</h3></a>
      </div>
      <hr/>
      {% if error %}
        <div class="alert alert-danger">
          {{ error }}
        </div>
      {% endif %}

      {% if success %}
        <div class="alert alert-success">
          {{ success }}
        </div>
      {% endif %}

      {% if info %}
        <div class="alert alert-info">
          {{ info }}
        </div>
      {% endif %}

      {% if request.session.username %}
        <div class="alert alert-info">Signed in as {{ request.session.username }}.
          <a href="{% url 'signout' %}">Sign out?</a>
        </div>
      {% endif %}

      {% block main_container %}
        {% if request.session.username %}
            <div class="row-fluid">
                <div class="well span3 text-center">
                    <h4>Trending topics</h4>
                    <hr/>
                    <ul class='nav nav-list'>
                    {% for tag in tags %}
                        <li>{{tag}}</li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="well span9">
                    {% for t in tneatas %}
                        <div class="tneata">
                            <img src="" alt="" style="background-color: #{{t.tneata.user.color}}; "/>
                            <a href="{% url 'profile' t.tneata.user.username %}">
                                <span>{{t.tneata.user.username}}</span></a>
                            <p>{{t.content|safe|urlize}}</p>
                            {% ifnotequal request.session.username t.tneata.user.username %}
                            <a href="{% url 'retneat' t.tneata.pk %}">retneat</a>
                            {% if t.tneata.retneat_from %}
                                <span>retneated from {{t.tneata.retneat_from.username}}</span>
                            {% endif %}
                            {% endifnotequal %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="jumbotron">
              <h1>Twitter..Secured!!</h1>
              <p class="lead">It is basically Twitter but with extreme security measures</p>
              <a id='signup' class="btn btn-large btn-success" data-title="Enter Username" data-toggle="popover" data-html='true' data-content="<form class='form' method='POST' action='{% url 'signup' %}'>
                {% csrf_token %}
                <input type='text' name='username' width='20px' placeholder='username'>
                <input type='password' name='password' width='20px' placeholder='password'>
                <button id='ok-btn' class='btn btn-mini' type='submit'><i class='icon-ok'></i></button>
              </form>">Sign up today</a>

              <a id='signin' class="btn btn-large btn-primary" data-title="Enter Username" data-toggle="popover" data-html='true' data-content="<form class='form' method='POST' action='{% url 'signin' %}'>
                {% csrf_token %}
                <input type='text' name='username' width='20px' placeholder='username'>
                <input type='password' name='password' width='20px' placeholder='password'>
                <button id='ok-btn' class='btn btn-mini' type='submit'><i class='icon-ok'></i></button>
              </form>">Sign in</a>
            </div>
            <hr/>
            <div class="row-fluid marketing text-center">
              <div class="span6">
                <h4>Features</h4>
                <p>Integrity</p>
                <p>Authenticity</p>
                <p>Man in the middle attack protection</p>
                <p>Cross site scripting (XSS) protection</p>
                <p>Cross site request forgery (CSRF) protection</p>
                <p>SQL injection protection</p>
                <p>Clickjacking protection</p>
              </div>

              <div class="span6">
                <h4>For Developers</h4>
                <p><a href="https://github.com/mabdrabo/Tneatar">Opensource Django software</a></p>
              </div>
            </div>
        {% endif %}
        <hr/>
        <footer>
          <small>
            <p class="muted">* some of the content on this page is from <a class="muted" href="http://www.trsst.com/">Trsst.</a></p>
          </small>
        </footer>
      {% endblock main_container %}
    </div>
  </body>

</html>
